<div class="mainBody py-5">
    <div class="card w-100 nosso-card">
        <div class="card-header">
            <h2> Resultados da Pesquisa</h2>
        </div>
        <div id="mainCardBody" class="card-body p-3 px-5">
            <p class="card-text mb-3">
                Nós comparamos em nossa base de dados os melhores SGBDs no mercado com os resultados inputados por você.
                <br />
                <br />
                Estes são os resultados da pesquisa que consideramos mais recomendados para você:
            </p>
            <div class="card my-1">
                <div class="card-body row">
                    <div class="col-lg-3 d-flex flex-row" style="justify-content: center;">
                        <img src="logo-oracle.png" alt="" style="height: 200px;">
                    </div>
                    <div class="col-lg-9">
                        <h5>Oracle</h5>
                        <p class="card-text">"Os produtos Oracle Database oferecem aos clientes versões de custo
                            otimizado e de alto desempenho do Oracle Database, o sistema de gerenciamento de banco
                            de dados convergente e multi-modelo líder mundial, bem como bancos de dados em memória,
                            NoSQL e MySQL. Oracle Autonomous Database, disponível on-premises via Oracle
                            Cloud@Customer ou na Oracle Cloud Infrastructure, permite aos clientes simplificar
                            ambientes de banco de dados relacionais e reduzir cargas de trabalho de gerenciamento." - https://www.oracle.com/br/database/
                        </p>
                        <a href="#" class="btn btn-primary">Ir para Oracle</a>
                    </div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-body row">
                    <div class="col-lg-3 d-flex flex-row" style="justify-content: center;">
                        <img src="logo-mysql.png" alt="" style="height: 200px;">
                    </div>
                    <div class="col-lg-9">
                        <h5>My SQL</h5>
                        <p class="card-text">"O Oracle MySQL Database Service é um serviço de banco de dados totalmente gerenciado que permite aos desenvolvedores desenvolver e implantar rapidamente aplicativos nativos em nuvem seguros usando o banco de dados de código aberto mais popular do mundo. O MySQL Database Service Analytics Engine é o único serviço MySQL com um mecanismo analítico em tempo real integrado e altamente escalonável. Este serviço, disponível apenas no Oracle Cloud, supera as limitações de data warehouse tradicional e ambientes analíticos que usam trabalhos em lote ETL de longa execução periódicos necessários para atualizar os dados. Ele acelera o desempenho da consulta MySQL em 400 vezes e é 2,7 vezes mais rápido do que o Amazon Aurora." - https://www.mysql.com/why-mysql/white-papers/mysql-database-service-oracle-cloud/
                        </p>
                        <a href="#" class="btn btn-primary">Ir para MySQL</a>
                    </div>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-body row">
                    <div class="col-lg-3 d-flex flex-row" style="justify-content: center;">
                        <img src="logo-sqlserver.png" alt="" style="height: 200px;">
                    </div>
                    <div class="col-lg-9">
                        <h5>SQL Server</h5>
                        <p class="card-text">
                            "O Microsoft SQL Server é um sistema de gerenciamento de banco de dados relacional (RDBMS) que oferece suporte a uma ampla variedade de aplicativos de processamento de transações, inteligência de negócios e analítica em ambientes de TI corporativos. O Microsoft SQL Server é uma das três tecnologias de banco de dados líderes de mercado, junto com o Oracle Database e o DB2 da IBM." - https://searchdatamanagement.techtarget.com/definition/SQL-Server
                        </p>
                        <a href="#" class="btn btn-primary">Ir para SQL Server</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>